# Markdown Basics
## Markdown Basics
### Markdown Basics
#### Markdown Basics
##### Markdown Basics
###### Markdown Basics
* **point 1**(Bold)
* *Point 2*(Italic)
* ***point 3*(Bold and Italic)
* Normal Text
  *sublist 1
  *sublist 2
  
> 1. point 1
> 2. point 2

* []option 1
* []option 2
* []option 3


* Google Site--Goole [1]: http://www.google.com
* msn site --[2]: http://www.msn.com
-[]option 1
* Google site --[Google][1]
[1]: http://www.google.com

### Python Basics
* Python Version 3.7
- Functional Programming 
- Object Oriented Programming
- Scripting Programming

In [10]:
print("Hello,Gitam")

Hello,Gitam

In [2]:
print("Hello,Gitam")
print("Hyderbad")

Hello,Gitam
Hyderbad

In [4]:
print("Hello, Gitam","|||",end=" ")
print("Hyderbad",end="|||")
print("Python Programming")

Hello, Gitam ||| Hyderbad|||Python Programming

# Assignment

In [9]:
n1 =100 # single VAriable Assignment
a =b =c =20 # Multi Variable Assignment of same value
a1,b1,c1=111,222,333 # Multi Variable assignment with Different value
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

### Datatypes and Conversions
* int
* float
* char

In [1]:
a =100;
s1 ="Python"
s2="P"
f1=10.2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 Python P 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [1]:
i=100
print(type(i))

<class 'int'>

In [2]:
i=100
print(type(1))
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [4]:
s1=100
print(type(s1))
a=int(s1)
print(type(a))
f=1.5
a1=int(f)
print(type(a1))
print(a1)

<class 'int'>
<class 'int'>
<class 'int'>
1

In [6]:
s1="100"
print(type(s1))
a=int(s1)
print(type(a))

<class 'str'>
<class 'int'>

In [8]:
s1="100"
print(type(s1))
a=int(s1)
print(type(a))
f=1.5
a1=int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [10]:
a=1234
print(len(str(a)))

4

### Reading a value
* input("Message") -- string

In [14]:
s1=input("Enter your name")
print(s1)
print(type(s1))

Enter your nameNayana Swapnika
Nayana Swapnika
<class 'str'>

In [16]:
# Want a number as a input
n1=int(input("Enter a number"))
print(n1,type(n1))

Enter a number123
123 <class 'int'>

### Operators
* Operator ae  symbols used to perform a specific kind of opertions
### Arithmatic Operators
- +
- /
- -
- *
- %
- **
- //

In [17]:
n1=1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10)
print(n1%10)
print(n1//10)
print(n1**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

### Precedence of the arth operators
- Paranthesis
- Power
- Multiplication
- Addition
### Left to right

In [19]:
x=1 + 2 ** 3 / 4 * 5
print(x)

11.0

### Relational Operators
- == != < > <= >=

In [20]:
x = 10
a1 = x >15
print(a1)

False

### Logical Operators
Used to combine more than single condition
- AND
- OR
- NOT

In [24]:
i = 100
a1 = (i > 15)and(i<800)
a2=(i>15)and(i>800)
print(a1)
print(a2)

True
False

### Control Flow Statements
- Conditional Statements
- looping statements

## if-else Statements
**Syntax**
if boolean conditions:
**statements
* else:

In [30]:
# To check given number is even or odd
n = int(input("Enter a number"))
if n%2 == 0:
    print("Even")
else:
        print("odd")

Enter a number13
odd

In [32]:
# to check given number is perfect multiple of 3 and 5
n = int(input("Enter a number"))
if n%3 == 0 and n%5 == 0:
    print("Yes")
else:
    print("No")

Enter a number10
No

In [33]:
# test given number is positive,negitive or zero
n = int(input("Enter a number"))
if n == 0:
    print("Zero")
elif n>0:
    print("Positive Number")
elif n<0:
    print("Negitive number")

Enter a number0
Zero